body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

div{
    margin: 10px;
}
#container{
    display: flex;
    margin: 5px 5px;
    width: 100%;
    justify-content: center;
}
