body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;

    background-color: gray;
    color:white;
    font-size: 1.4rem;

}

div{
    margin: 10px;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: row;

    flex-wrap: wrap;

}

body > h1{
    background-color: black;
    color:orange;
    padding: 10px;
    margin: 0px;
}

#details{
    margin: 0;
    background-color: black;
}

.formSelection{
    width: 200px;
    height: 25px;
}

#btn{
    color:orange;
    background-color: black;
    
}

#btn:hover{
    background-color: rgba(0,0,0,0.5)
}

    


